<div class="container d-flex justify-content-center">
  <div class="card w-75 d-flex justify-content-center">
    <div class="card-body text-center">
      <h1>What's your question?</h1>

      <form action="/answer" class="form-inline d-flex justify-content-center">
        <input type="text" name="question" class="form-control">
        <input type="submit" value="Ask The stupid coach!" class="btn btn-primary ml-4">
      </form>
    </div>
  </div>
</div>
